<!--About View-->
<div id="about">
	<h2>About EatIn</h2>		
	<div class="col-xs-12 col-sm-6 col-left">
		<ul>
		<!--Links to sites of all included resources-->
			<li><h3>Under The Hood</h3></li>
			<li><h4>EatIn uses the <a href="http://www.yummly.com">Yummly</a>&reg; API to find recipes based on your search guidelines.  Just specify a keyword, along with whichever ingredients you would like (or not like) included in your dish and the search will handle the rest.</h4></li>
			<li><h4>The application was developed using <a href="http://angularjs.org">AngularJS</a>, with <a href="https://github.com/angular-ui/ui-router">Angular-UI/UI-Router plugin</a>.  The visual framework is <a href="http://getbootstrap.com">Twitter Bootstrap</a>, with back-end support from <a href="https://www.firebase.com">FireBase</a> and <a href="http://angularfire.com/index.html">AngularFire</a>.</h4></li>
		</ul>
		<ul>
			<li><h3>The Brains</h3></li>
			<li><h4>Designed and developed by Jeremy Katras, 2013, for Mobile Design &amp; Development - Full Sail University</h4></li>
		<!--Clicking email address will open user's default email service-->
			<li><h4>Contact Jeremy at: <a href="mailto:jkatras@fullsail.edu?Subject=From%20EatIn%20Site" target="_top">jkatras@fullsail.edu</a> or simply fill out the contact form.</h4></li>
		</ul>
	</div>
<!--	This is a contact form for sending messages directly from site.
	Not currently functional-->
	<div class="col-xs-12 col-sm-6">
		<form method="post" action="">
		<legend>Contact Us</legend>
			<h4>Need help?  Need to report an issue?</h4>
			<div class="form-group">
				<label for="name">Your Name</label>
				<input type="text" name="name" value="" />
			</div>
			<div class="form-group">
				<label for="email">Your Email</label>
				<input type="email" name="" value="" />
			</div>
			<div class="form-group">
				<label for="message">Please summarize your question or concern</label>
				<textarea class="form-control" rows="5"></textarea>
			</div>
			<button type="button" class="btn btn-default" name="submit">Submit</button>
		</form>
	</div>
</div>