<div id="profile">
<form ng-repeat="info in profile">
	<legend><h2>Welcome, {{info.uname}}</h2></legend>
<!--divs span width of container on devices <768px
	broken up into thirds if screen >=768px-->
<!--	<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
		<label for="username" class="sr-only">Username</label>
		<input class="input-lg" ng-model="username" type="text" id="username" placeholder="Username" />
	</div>
	<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
		<label for="password" class="sr-only">Password</label>
		<input class="input-lg" ng-model="password" type="password" id="password" placeholder="Password"/>
	</div>
	<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
		<label for="email" class="sr-only">Email</label>
		<input ng-model="email" class="input-lg" ng-model="email" type="email" id="email" placeholder="Email"/>
	</div>
	<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
		<label for="firstname" class="sr-only">First Name</label>
		<input class="input-lg" ng-model="firstname" type="text" id="firstname" placeholder="First Name"/>
	</div>
	<div class="form-group col-xs-12 col-sm-8 col-sm-offset-2">
		<label for="lastname" class="sr-only">Last Name</label>
		<input class="input-lg" ng-model="lastname" type="text" id="lastname" placeholder="Last Name"/>
	</div>
	
		<div class="checkbox col-sm-8 col-sm-offset-5">
			<label>
			<input type="checkbox"> Please email me updates about EatIn 
			</label>
		</div>
	
	<div class="form-group btn-group col-xs-12 col-sm-2 col-sm-offset-5">
		<a sref="profile" class="btn-green">Submit</a>
	</div>-->
</form>
</div>